/******************************************* HTML Tags *******************************************/
body, html
{
    background-image: url("../img/noisy_net.png");
    font-size: 16px;
    height: 100%;
    width: 100%;
}

h1
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h4
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #070707;
    text-align: left;
    margin-bottom: 20px;
}

h5
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #505050;
    text-align: left;
    margin-bottom: 5px;
}

p
{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3f3f;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

label
{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3f3f;
    padding-left: 2.0rem;
}

/******************************************** Header *********************************************/
.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-image: linear-gradient(to right, rgba(30, 47, 126, 0.3), rgba(109, 179, 242, .6)), url('../img/noisy_net.png');
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
}

.nav-link
{
    font-family:  sans-serif;
    font-size:    20px;
}

.nav-title
{
    height: 100%;
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.nav-title:hover,
.nav-link:hover
{
    background-color:  rgba(30, 47, 126, 1);
    border-radius: 5px;
}

/******************************************** Footer *********************************************/
footer
{
    border-top: 1px solid #666666;
    background-image: linear-gradient(to right, rgba(109, 179, 242, .6), rgba(30, 47, 126, 0.3)), url('../img/noisy_net.png');
    color: #ffffff;
}

/******************************************* Page Body *******************************************/
#page-body
{
    flex: 1 0 auto;
}

/****************************************** Navigation *******************************************/

.sticky
{
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    padding-right: 20px;
    width: 100%;
}

.doc-container
{
    display: grid;
    /*grid-template-columns: repeat(12, auto);*/
    grid-template-columns: repeat( 12, minmax(50px, 1fr) );
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100%;
}

.sidenav
{
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 20px;
    background-color: #e0e0e0;
    padding-top: 40px;
}

.hide-div
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.show-div
{
    height: auto;
    max-height: 5000px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.doc-content
{
    grid-column: 4 / 13;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

@media screen and (max-width: 1199px)
{
    .doc-container
    {
        padding-left: 0;
        padding-right: 0;
    }

    .sidenav
    {
        grid-column: 1 / 4;
        padding-top: 20px;
        background-color: #e0e0e0;
    }

    .doc-content
    {
        grid-column: 4 / 13;
        padding-left: 20px;
        padding-top: 20px;
        background-color: #ffffff;
    }
}

.subsection
{
    box-sizing: border-box;
    padding-right: 30px;
}

.section-link
{
    padding-left: 5px;
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, rgba(30, 47, 126, 0.3), rgba(109, 179, 242, .6));
    border-bottom: 2px solid #666666;
    border-right: 2px solid #666666;
    border-bottom-right-radius: 10px;
    color: #000000;
    font-weight: bold;
}

.section-link:hover
{
    background-image: linear-gradient(to right, rgba(30, 47, 126, 1), rgba(109, 179, 242, 1));
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.subsection-link
{
    padding-left: 5px;
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, rgba(30, 47, 126, 0.1), rgba(109, 179, 242, .4));
    border-bottom: 2px solid #666666;
    border-right: 2px solid #666666;
    color: #000000;
    overflow: hidden;
}

.subsection-link:hover
{
    background-image: linear-gradient(to right, rgba(30, 47, 126, 1), rgba(109, 179, 242, 1));
    text-decoration: none;
    color: #ffffff;
}


.section-header
{
    background-image: linear-gradient(to right, rgba(109, 179, 242, 1), rgba(30, 47, 126, 1));
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
}

.subsection-header
{
    padding-left: 30px;
    font-size: 40px;
}

.divider-bottom
{
    height: 5px;
    background-image: linear-gradient(to left, rgb(255, 255, 255, 0), rgba(30, 47, 126, .5));
    width: 100%;
}


.active
{
    background-image: linear-gradient(to right, rgba(109, 179, 242, .9), rgba(30, 47, 126, .6));
}
  

/***************************************** Page Specific *****************************************/

.project-title
{
    font-size: 30px;
    border-bottom: 3px solid #666666;
}

.page-link
{
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 0;
    color: #4708f5;
}

.indent
{
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

.divider
{
    border-bottom: 3px solid #666666;
    margin-bottom: 1.0rem;
}

.dtp-format
{
    font-size: 20px;
    max-width: 400px;
    margin: 0 auto 20px auto;
}

.dtp-doc
{
    margin-top: 8px;
    max-width: 400px;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

.doc-pad
{
    margin-left: 2.0rem;
    padding-left: 1.0rem;
}

#dtp17-tb, #dtp3-hidden-tb
{
    visibility: hidden;
}


