body, html
{
    height: 150%;
    width: 150%;
}

h1
{
    color: #a4e3f7;
}

#dtp
{
    font-size: 20px;
    margin-top: 50px;
}

.big-div
{
    height: 700px;
    width: 200px;
    background-color: aqua;
}