body, html
{
    height: 100%;
    width: 100%;
}

h1
{
    color: #464646;
}

#dtp
{
    font-size: 20px;
    margin-top: 50px;
}

.big-div
{
    height: 700px;
    width: 200px;
    background-color: aqua;
}